:root {
  --purple: #2F192E;
  --purple-light: #30192d;
  --dark-blue: #012677;
  --blue: #5c65c0;
  --skyblue: #00b4fc;
  --light-blue: #005bc5;
  --dark-pink: #f64c57;
  --dark-magenta: #e21b5a;
  --light-green: #61e2c2;
  --light-purple: #d9abff;
  --classic :#111827;
  
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: poppins, sans-serif;
}

body {
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  position: relative;
}

.button-container {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
}

.toggle-theme-btn,
.toggle-language-btn {
  background: black; /* ou outra cor desejada */
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.5rem;
  margin-left: 10px; /* Espaçamento entre os botões */
}

.toggle-theme-btn:hover,
.toggle-language-btn:hover {
  background: var(--dark-pink); /* Cor de destaque ao passar o mouse */
}
.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

.profile-card,
.about {
  background: #111;
  border-radius: 10px;
  padding: 2rem;
  color: #fff;
  width: 100%;
}

.profile-card .profile-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.profile-card .profile-pic img {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}

.profile-card .profile-details,
.about .work {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-card .intro {
  text-align: center;
}

.profile-card .intro h2,
.profile-card .intro h4 {
  margin-top: 20px;
}

.profile-card .intro .social {
  display: flex;
  justify-content: center;
  margin: 10px 0 25px;
}

.profile-card .intro .social i {
  color: #ddd;
  font-size: 16px;
  background-color: #222;
  margin: 5px;
  height: 35px;
  width: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 5px;
  transition: 0.5s;
}

.profile-card .intro .social i:hover {
  transform: scale(1.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.profile-card .profile-nav {
  width: 100%;
}

.profile-nav .active {
  font-weight: bold;
  color: var(--purple);
}

.profile-card .profile-nav ul {
  list-style: none;
  padding: 0;
}

.profile-card .profile-nav ul li {
  margin-bottom: 10px;
}

.profile-card .profile-nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: block;
  background: #222;
  border-radius: 5px;
  transition: 0.3s;
}

.profile-card .profile-nav ul li a:hover {
  background: var(--dark-magenta);
}

.profile-card .download-btn {
  /* background: linear-gradient(45deg, #f64c57, #e21b5a); */
  color: #fff;
  padding: 1rem 3rem;
  border-radius: 30px;
  margin-top: 1.5rem;
  border: none;
  cursor: pointer;
  background-color: forestgreen;
}

.profile-card .download-btn:hover {
  background-color: brown; /* Cor muda para vermelho ao passar o mouse */
}

.about h1 {
  color: #f2f2f2;
  margin-bottom: 1.1rem;
  position: relative;
  display: inline-block;
  font-size: 2.5rem;
}

.about h1::after {
  position: absolute;
  content: "";
  top: 50%;
  right: -50%;
  width: 45%;
  height: 3px;
  /* background: linear-gradient(45deg, #f64c57, #e21b5a); */
}


.about h2 {
  color: #f2f2f2;
  font-size: 2rem;
  margin: 0.5rem 0;
}

.about p {
  color: #555;
  margin: 1.5rem 0;
}

.about .work {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 20px;
  width: 100%;
}

.work .workbox {
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  border: 1px solid #333;
  padding: 1rem;
  margin: 0;
}

.work .workbox .desc {
  width: 75%;
  color: #555;
}

.work .workbox .desc h3 {
  color: #f2f2f2;
  margin-bottom: 3px;
}

.work .workbox .desc p {
  margin: 0px;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }

  .profile-card,
  .about {
    padding: 1rem;
  }

  .about h1 {
    font-size: 2.2rem;
  }

  .about .work {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .profile-card {
    padding: 1.5rem;
  }

  .profile-details .intro h2 {
    font-size: 1.5rem;
  }

  .profile-details .intro h4 {
    font-size: 1rem;
  }

  .about {
    padding: 1.5rem;
  }

  .about h1 {
    font-size: 1.8rem;
  }

  .about h2 {
    font-size: 1.5rem;
  }
}

.about .education-history {
  margin-top: 40px;
}

.about .education-history h2 {
  border-bottom: 2px solid var(--purple);
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.about .education-history ul {
  list-style-type: none;
  padding: 0;
}

.about .education-history li {
  margin-bottom: 15px;
  padding: 10px 0;
}

.about .education-history li h3 {
  margin: 0;
  font-size: 1.2em;
  color: white;
}

.about .education-history li p {
  margin: 5px 0;
  font-size: 1em;
  color: #666;
}

/* .about .profissional-history {
  margin-top: 40px;
}

.about .profissional-history h2 {
  border-bottom: 2px solid var(--purple);
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.about .profissional-history ul {
  list-style-type: none;
  padding: 0;
}

.about .profissional-history li {
  margin-bottom: 15px;
  padding: 10px 0;
}

.about .profissional-history li h3 {
  margin: 0;
  font-size: 1.2em;
  color: white;
}

.about .profissional-history li p {
  margin: 5px 0;
  font-size: 1em;
  color: #666;
} */

.about .about-me-history {
  margin-top: 40px;
}

.about .about-me-history h2 {
  border-bottom: 2px solid var(--purple);
  padding-bottom: 10px;
  margin-bottom: 20px;
}